.icon-64 {
    width: 64px;
    margin-left: -5px;
}

span.brand-text {
    font-size: 50px;
}

a.brand-link {
    text-decoration: none
}

a.brand-link span {
    vertical-align: middle;
    line-height: 50px;
}